<h1><%= @product.name %></h1>
<h3>From: <%= @product.country_of_origin %></h3>
<h3>Price: $<%= @product.cost %></h3>



<% if @product.reviews.any? %>
  <h4>Customer Reviews:</h4>
  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.title, product_review_path(@product.id, review.id) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>There are currently no reviews for this product. Please check back later.</p>
<% end %>

<%= link_to "Add a review for this product", new_product_review_path(@product.id) %><br>
<%= link_to "Edit or delete product", edit_product_path(@product)%>