<h1> <%= @review.title %></h1>
<h4> By: <%= @review.author %></h4>
<h6> Rating: <%=@review.rating %> star(s)</h6>
<p><%= @review.content_body %></p>


<%= link_to 'Edit or Delete Review', edit_product_review_path(@product, @review) %><br>
<%= link_to 'Back to the product.', product_path(@product) %><br>
<%= link_to 'Back to our product catalogue.', products_path %><br>